<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>收货人</string>
			<key>key</key>
			<string>name</string>
			<key>type</key>
			<string>textfield</string>
			<key>placeholder</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>手机号码</string>
			<key>key</key>
			<string>mobile</string>
			<key>type</key>
			<string>textfield</string>
			<key>placeholder</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>所在地区</string>
			<key>key</key>
			<string>areaFormat</string>
			<key>type</key>
			<string>select</string>
			<key>placeholder</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>详细地址</string>
			<key>key</key>
			<string>address</string>
			<key>type</key>
			<string>textview</string>
			<key>placeholder</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>邮编</string>
			<key>key</key>
			<string>zip</string>
			<key>type</key>
			<string>textfield</string>
			<key>placeholder</key>
			<string>选填</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>xdf_personal_study_remind</string>
			<key>title</key>
			<string>固话</string>
			<key>key</key>
			<string>tel</string>
			<key>type</key>
			<string>textfield</string>
			<key>placeholder</key>
			<string>选填</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>是否默认收货地址</string>
			<key>key</key>
			<string>isDefault</string>
			<key>type</key>
			<string>switch</string>
		</dict>
	</array>
</array>
</plist>
