<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>头像</string>
			<key>key</key>
			<string>headPic</string>
			<key>type</key>
			<string>image</string>
			<key>placeholder</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>昵称</string>
			<key>key</key>
			<string>uname</string>
			<key>type</key>
			<string>select</string>
			<key>placeholder</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>性别</string>
			<key>key</key>
			<string>sex</string>
			<key>type</key>
			<string>select</string>
			<key>placeholder</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>我的收货地址</string>
			<key>key</key>
			<string>address</string>
			<key>type</key>
			<string>select</string>
			<key>placeholder</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>密码修改</string>
			<key>key</key>
			<string>password</string>
			<key>type</key>
			<string>select</string>
		</dict>
	</array>
</array>
</plist>
