<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>不想要了</string>
		<key>value</key>
		<string>0</string>
		<key>key</key>
		<string></string>
		<key>type</key>
		<string></string>
		<key>placeholder</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>支付不成功</string>
		<key>value</key>
		<string>1</string>
		<key>key</key>
		<string></string>
		<key>type</key>
		<string></string>
		<key>placeholder</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>价格较贵</string>
		<key>value</key>
		<string>2</string>
		<key>key</key>
		<string></string>
		<key>type</key>
		<string></string>
		<key>placeholder</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>缺货</string>
		<key>value</key>
		<string>3</string>
		<key>key</key>
		<string></string>
		<key>type</key>
		<string></string>
		<key>placeholder</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>等待时间过长</string>
		<key>value</key>
		<string>4</string>
		<key>key</key>
		<string></string>
		<key>type</key>
		<string></string>
		<key>placeholder</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>拍错了</string>
		<key>value</key>
		<string>5</string>
		<key>key</key>
		<string></string>
		<key>type</key>
		<string></string>
		<key>placeholder</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>订单信息填写错误</string>
		<key>value</key>
		<string>6</string>
		<key>key</key>
		<string></string>
		<key>type</key>
		<string></string>
		<key>placeholder</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>其他</string>
		<key>value</key>
		<string>7</string>
		<key>key</key>
		<string></string>
		<key>type</key>
		<string></string>
		<key>placeholder</key>
		<string></string>
	</dict>
</array>
</plist>
